* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6d7c90;
  font-family: Lato, sans-serif;
  font-size: 17px;
  line-height: 1.75em;
  text-align: left;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 3rem 4rem 3rem;
}
header img {
  margin-left: 4rem;
  width: 9rem;
}
.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav li a {
  text-decoration: none;
}
.nav-link {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
  line-height: 1.4em;
  max-width: 70rem;
  color: #20292f;
  font-weight: 700;
}
.span {
  margin-left: 13.2rem;
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 68, 180, 255);
  border-radius: 10rem;
  border: none;
  font-size: 15px;
  padding: 12px 32px;
  font-weight: 900;
  /* font-size: 12px; */
  /* margin-bottom: 16px;
  padding: 8px 20px; */
  color: #fff !important;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.pink {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://www.elegantthemes.com/images/shapes/section-divider-asymmetric-bottom.svg);
  position: relative;
  margin-bottom: 4.8rem;
}
.more {
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 1.5rem 0rem 6rem 0rem;
}
.img2 {
  border: 2px solid #fff;
  border-radius: 100px;
  display: inline-block;
  margin: 0 4px -8px;
  width: 28px;
}
.hrefs {
  color: #3776ff;
  text-decoration: none;
}
.href {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: rgba(55, 118, 255, 255);
  padding: 0.09rem 0.7rem 0.09rem 0.7rem;
  border-radius: 100px;
}
.hrefss {
  color: #3776ff;
  text-decoration: none;
  cursor: pointer;
}
.text {
  position: absolute;
  top: 65.6rem;
  left: 16.22rem;
}
.text p {
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  padding: 0.5rem 1.5rem;
  border-radius: 0px 10px 0px 8px;
}
.hero-img {
  border-radius: 8px;
  max-width: 75%;
}
.img-can {
  display: flex;
  align-items: center;
  justify-content: center;
}
article {
  margin-left: 29rem;
  margin-right: 29rem;
}
article p {
  font-size: 19px;
  line-height: 1.9em;
}
.hrefsss {
  color: #3776ff;
  font-weight: bold;
  cursor: pointer;
}
.hreffsss::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background: linear-gradient(to right, red, blue);
  height: 3px;
  width: 10rem;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  max-width: 100%;
  height: 28rem;
  background-color: #fff;
  box-shadow: 0px 0px 27px rgb(197, 255, 236);
  margin-bottom: 7rem;
}
.buttonn {
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(55, 118, 255, 255);
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  border-radius: 100px;
  color: white;
  font-weight: 700;
  line-height: 1.6em;
  text-decoration: none;
}
.small-box {
  margin-left: 0px;
}
.spans {
  margin-left: 4rem;
}
h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  color: #20292f;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2em;
  line-height: 2em;
  color: #20292f;
  font-weight: 700;
}
h4 {
  font-size: 1.3em;
  line-height: 2em;
  color: #20292f;
  font-weight: 700;
  margin-bottom: 1rem;
}
.figure {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 7rem;
}
img .figure {
  width: 100%;
}
.img-tablet {
  width: 100%;
}
.tablet-mobile {
  margin-bottom: 7rem;
}
.img-desktop {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 7rem;
}
.tablet-mobile-view {
  width: 100%;
}
.tabletmobile-view {
  margin-bottom: 7rem;
}
.global-head {
  margin-bottom: 5rem;
}
.envelope {
  display: flex;
  column-gap: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  max-width: 100%;
  background-color: #fff;
}
.comment {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6em;
  font-size: 14px;
  margin-top: 0.5em;
}
.blue-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  width: 100%;
  height: 7rem;
  background-color: rgba(72, 67, 210, 255);
}
.envelope-box {
  margin-bottom: 4rem;
  box-shadow: -1px 1px 5px 5px rgba(242, 246, 255, 255);
}
.download {
  color: #fff;
  background-color: rgba(249, 44, 139, 255);
  font-size: 1rem;
  padding: 0.3rem 4.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
#my-mail {
  width: 100%;
  height: 2.4rem;
  padding: 0.3rem 4.5rem;
  background-color: rgba(61, 57, 179, 255);
  color: #fff;
  margin-right: 0rem;
  border: none;
}
.p-tags {
  margin-bottom: 2rem;
}
.div-templetes {
  margin-bottom: 4rem;
}
.img-edit {
  border-radius: 8px;
  width: 100%;
}
.update-templets {
  margin-bottom: 4rem;
}
.update-templets img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.builder {
  margin-bottom: 4rem;
}
.modify-tempetes {
  margin-bottom: 4rem;
}
.logo-image {
  margin-bottom: 4rem;
}
.update-cta {
  margin-bottom: 4rem;
}
.social-media {
  margin-bottom: 4rem;
}
.footer-templetes {
  margin-bottom: 4rem;
}
.connect-div {
  margin-bottom: 4rem;
}
.footer-menu {
  margin-bottom: 4rem;
}
.update-blurb {
  margin-bottom: 4rem;
}
.update-static {
  margin-bottom: 4rem;
}
.tags {
  margin-bottom: 4rem;
}
.the-media {
  display: flex;
  margin-bottom: 7rem;
}

.the-media {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.the-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  width: 60px;
  height: 60px;
  font-size: 20px;
  color: #344963;
  line-height: 1rem;
  background-color: rgb(222, 255, 244);
  transition: all 0.5s;
}

.the-media :hover {
  transform: scale(1.1);
  border: 2px solid rgb(187, 255, 232);
}
.Christina {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 25px rgb(197, 255, 236);
}
.Christy {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.Christina img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.Christina h4 {
  margin-bottom: 0px;
  font-size: 18px;
}
.background-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
      circle at top left,
      rgba(57, 47, 255, 0.86) 0,
      rgba(56, 0, 124, 0.9) 100%
    ),
    url(./Images/back-img.jpg);
  max-width: 125rem;
  height: 50.4rem;
  background-size: cover;
  margin-bottom: 25rem;
}
.background-div h3 {
  color: #fff;
  line-height: 4rem;
  font-size: 2.7rem;
}

.background-div i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  width: 60px;
  height: 90px;
  font-size: 20px;
  color: #fff;
  line-height: 1rem;
  transition: 0.5s;
  border: 2px solid #fff;
}
.D-imge {
  margin: 23rem 0rem 2.5rem 0rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(242, 244, 245, 255);
  border-radius: 10rem;
  border: none;
  font-size: 15px;
  font-family: inherit;
  padding: 19px 97px;
  font-weight: 900;
  color: rgba(255, 68, 163, 255);
  cursor: pointer;
  margin: 2rem 0rem 1rem 3rem;
  /* margin-bottom: 4rem;
  margin-left: 3rem;
  margin-top: 2rem; */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.background-div a {
  text-decoration: none;
}
.Big-Div {
  margin: 2rem 0rem 3rem 0rem;
}
.big-img {
  width: 100%;
  height: 35.715rem;
}
section h3 {
  margin-bottom: 4rem;
}
/* section {

} */
.Articles {
  /* display: flex;
  flex-direction: row;
  column-gap: 1rem; */
  margin-left: 15rem;
  margin-right: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.Box-1 {
  width: 30rem;
  border-radius: 7px;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
  margin-bottom: 6rem;
}

.section-1 :hover {
  transform: scale3d();
}
.Box-1 h4 {
  font-size: 1.7rem;
  line-height: 2.3rem;
}
.Box-1-img {
  border-radius: 9px 9px 0px 0px;
  width: 29.87rem;
}
.Text-box {
  margin: 2rem 2.5rem 1rem 2.5rem;
  padding-bottom: 2rem;
}
.date {
  margin-bottom: 1rem;
}
.spanned {
  font-weight: bold;
}
.section-1 .Box-1 {
  margin-top: 8.3rem;
}
.sece {
  z-index: 10;
}
.section-reply-box {
  margin: 0rem 15rem 5rem 15rem;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}
.section-reply-box p {
  font-size: 1.3rem;
  line-height: 2rem;
}
.comment {
  height: 20rem;
  background-color: #fff;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
  margin-top: 1.5rem;
  padding: 4rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
}
.comment-box p {
  margin-left: 4.3rem;
}
.small-box {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-top: 1rem;
}
.Leave-comment {
  height: 43.7rem;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
  padding: 4rem;
  border-radius: 8px;
}
.Leave-comment h3 {
  margin-bottom: 1rem;
}
.policy-link {
  text-decoration: none;
  color: blue;
}
.button {
  align-self: flex-start;
  border: none;
  border-radius: 100px;
  color: #fff !important;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 900;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 16px;
  padding: 8px 20px;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(55, 118, 255, 255);
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  border-radius: 100px;
  color: white;
  font-weight: 700;
  line-height: 1.6em;
  text-decoration: none;
}
.divi {
  text-align: end;
}
.span-1 {
  font-weight: bold;
  font-size: 1.1rem;
}
.forms {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 2rem;
}
::-webkit-input-placeholder {
  text-align: start;
}

#comment {
  background: rgba(109, 124, 144, 0.1);
  border: none;
  border: 2px solid rgba(55, 118, 255, 0);
  border-radius: 5px;
  color: #6d7c90;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.8em;
  margin: 16px 0;
  outline: none;
  padding: 14px 12px;
  text-align: left;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
#comment:hover {
  border: 2px solid #3776ff;
}
#name,
#email {
  background: rgba(109, 124, 144, 0.1);
  border: none;
  border: 2px solid rgba(55, 118, 255, 0);
  border-radius: 5px;
  color: #6d7c90;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.8em;
  margin: 16px 0;
  outline: none;
  padding: 14px 12px;
  text-align: left;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
#name:hover {
  border: 2px solid #3776ff;
}
#email:hover {
  border: 2px solid #3776ff;
}
.divis {
  padding: 18px 50px;
  font-size: 18px;
}
#vehicle1 {
  font-size: 3rem;
  width: 1rem;
  height: 1rem;
}
.form {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: baseline;
}
.label {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.main-article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 2rem;
  margin-left: 4.9rem;
  margin-right: 4.9rem;
}
.article {
  width: 30.57rem;
  height: 34.9rem;
}
.articles {
  width: 30.57rem;
  height: 59.9rem;
}
.articless {
  width: 60.57rem;
  height: 25.9rem;
}
.min-column {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.6rem;
}
article ul li a {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: rgba(89, 133, 255, 255);
  font-size: 1.2rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

article ul li {
  padding-bottom: 1.5rem;
  list-style: none;
}
section {
  border-radius: 5px;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 0%),
    0 12px 90px 0 rgb(103 151 255 / 0%);
}

.section-follow {
  max-width: 42rem;
  margin: 0 auto;
  padding: 6rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.8rem;
}

.follow-us {
  font-size: 2rem;
  grid-column: 1 / -1;
  margin-bottom: 0.4rem;
}

.follow-card:link,
.follow-card:visited {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 0.6rem;
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.follow-card:hover,
.follow-card:active {
  cursor: pointer;
}

/* Facebook */
.follow-card:nth-child(2) {
  background: #3a5698;
}

.follow-card:nth-child(2):hover {
  background: #344d89;
}

/* Twitter */
.follow-card:nth-child(3) {
  background: #00aaf1;
}

.follow-card:nth-child(3):hover {
  background: #0099d9;
}

/* LinkedIn */
.follow-card:nth-child(4) {
  background: #117ab5;
}

.follow-card:nth-child(4):hover {
  background: #0f6ea3;
}

/* Dribbble */
.follow-card:nth-child(5) {
  background: #ea4d8e;
}

.follow-card:nth-child(5):hover {
  background: #d34580;
}

/* RSS */
.follow-card:nth-child(6) {
  background: #f49039;
}

.follow-card:nth-child(6):hover {
  background: #dc8233;
}

/* YouTube */
.follow-card:nth-child(7) {
  background: #a9250f;
}

.follow-card:nth-child(7):hover {
  background: #98210e;
}

.follow-card div {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.125);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-card p {
  font-size: 1rem;
  font-weight: 600;
}

.Big-Card {
  background-image: url(/Images/background-imgae.png) repeat 0 0;
  margin: 14.3rem 14.4rem 6.25rem 14.4rem;
  padding: 2rem;
  transition: 0.5s;
  box-shadow: 0 48px 48px -32px rgb(23 16 159 / 20%),
    0 96px 96px -64px rgb(3 2 20 / 60%);
  background: radial-gradient(circle at top left, #4a42ec 0, #521d91 100%);
  background-color: #521d91;
}
.Big-Card:hover {
  transform: scale(1.3);
}
.card-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.Big-Card.card-box {
  transform: scale(1.2);
}
.Big-Card h2 {
  -webkit-text-fill-color: #fff;
  line-height: 4rem;
  background: 0 0;
  color: #fff;
  font-size: 3em;
  margin: 5rem 4.8rem 0.935rem 4.8rem;
}
.Big-Card p {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
.line-1 {
  margin-left: 2rem;
}
.line-2 {
  margin-left: 6rem;
}
.buttons {
  background-color: rgba(38, 213, 118, 255);
}
.button:hover {
  transform: scale(1.1);
}
.social-media-platform {
  margin-top: 14.5rem;
  margin-bottom: 4rem;
}
.media-description {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}
.media-description a {
  text-decoration: none;
}
.inn {
  border-radius: 8px;
  width: 12rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
.inner {
  background-color: #fff;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
  margin-top: 24px;
  padding: 32px;
}
.inner:hover {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.1);
}
.span-1 {
  color: #414a56;
  font-weight: 700;
  letter-spacing: 2.5px;
}
.span-2 {
  color: rgba(109, 124, 144, 0.5);
  font-size: 0.85em;
}

.my-facebook {
  font-size: 1.3rem;
  color: rgba(55, 118, 255, 255);
}
.my-users {
  font-size: 1.3rem;
  color: rgba(103, 151, 255, 255);
}
.my-twitter {
  font-size: 1.3rem;
  color: rgba(0, 181, 230, 255);
}
.my-envelope {
  font-size: 1.3rem;
  color: rgba(109, 124, 144, 255);
}
.my-dribbble {
  color: rgba(249, 44, 139, 255);
}
.my-youtube {
  font-size: 1.3rem;
  color: rgba(255, 76, 0, 255);
  flex-shrink: 0;
  background-color: white;
}

.column-table {
  width: 87.5rem;
  height: 25.4rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  margin-bottom: 4rem;
}
.my-h3 {
  color: #20292f;
  margin-bottom: 1rem;
  font-size: 18px;
}
.column a {
  text-decoration: none;
}
.column ul li a {
  text-decoration: none;
  color: #6d7c90;
}
.column ul li {
  line-height: 2.5rem;
  list-style: none;
}
.color {
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3em;
  padding: 9px 16px;
  margin-left: 1rem;
  right: 0;
  text-transform: none;
  transform: perspective(50em) translateX(100%);
  transform-origin: 0 50%;
  width: 180px;
  z-index: 2;
}

.purple-color {
  color: #fff;
  background-color: purple;
}
.purple-color:before {
  border-radius: 4px;
  height: 15px;
  left: -3px;
  top: 4px;
  width: 15px;
  background: purple;
  border-radius: 4px;
  content: "";
  display: block;
  height: 25px;
  left: 24.3rem;
  position: absolute;
  top: 1495.12rem;
  transform: rotate(45deg);
  width: 25px;
  z-index: -1;
}
.green-color {
  background: #34dd87;
}
.green-color:before {
  border-radius: 4px;
  height: 15px;
  left: -3px;
  top: 4px;
  width: 15px;
  background: #34dd87;
  border-radius: 4px;
  content: "";
  display: block;
  height: 25px;
  left: 43rem;
  position: absolute;
  top: 1515.12rem;
  transform: rotate(45deg);
  width: 25px;
  z-index: -1;
}
footer {
  max-width: 52.5rem;
  margin: auto;
  margin-bottom: 4rem;
}
footer p {
  font-size: 1.5rem;
  margin-left: 14rem;
}
.footer-logo {
  width: 550rem;
  height: 3rem;
}
figure {
  position: relative;
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  column-gap: 0rem;
  margin-bottom: 4rem;
}
.last {
  width: 20rem;
  height: 4rem;
  font-size: 20px;
  font-weight: 700;
  word-spacing: 0.2rem;
  position: absolute;
  top: 1534rem;
  left: -14rem;
  text-align: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: rgba(160, 73, 236, 255);
  background-color: rgb(255, 255, 255);
}
.positioned {
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
}
